.m-navigation {
  &--main {
    .m-navigation--item {
      font-size: .9375rem;
      padding: $grid-gutter-width/4 0;

      a {
        display: block;
        color: $white;
      }

      @include media-breakpoint-up(md) {
        display: inline-block;
        margin: 0 $grid-gutter-width/3;
        padding: 0;
      }
    }
  }

  &--dashboard {
    .m-navigation--item {
      font-size: .8125rem;
      padding: $grid-gutter-width/4 0;

      a {
        color: $gray-400;
        display: flex;
        align-items: center;
        border-bottom: 0;
        padding-bottom: 0;
        font-weight: 500;

        @include hover-focus-active {
          color: $gray-900;

          .icon {
            color: $gray-900;
          }
        }
      }

      .icon {
        @include transition($btn-transition);
        color: $gray-500;
        font-size: 1.25rem;
        margin-right: $grid-gutter-width/1.5;
      }

      svg {
        margin-left: auto;
      }

      .nav-sub {
        display: none;
        padding: $grid-gutter-width/2 calc(#{$grid-gutter-width/1.5} + 1.25rem) $grid-gutter-width/4;
      }
    }

    .m-navigation--subitem {
      a {
        font-weight: normal;
      }
    }
  }
}