<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: headTag(title=#{settings} + ' - Cheops Kandidatenbeheer')"></head>
<body>
  <header th:replace="fragments/general :: header"></header>
  <main>
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col">
          <h1 class="a-title--page" th:text="#{settings}"></h1>
        </div>
      </div>
      <div th:if="${errorMessage != null} OR ${successMessage != null}" class="row">
        <div class="col">
          <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
          <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
        </div>
      </div>
      <div class="row mb-grid">
        <div class="col">
          <div th:if="${not #lists.isEmpty(users)}" th:replace="fragments/card :: card(#{users}, ~{ :: .table-users})">
            <div class="table-users" th:remove="tag">
              <table th:replace="fragments/table :: table-users" th:with="users=${users}"></table>
            </div>
          </div>

          <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delete-modal-label"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" th:text="#{user.confirmDelete}"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" th:text="#{cancel}"></button>
                  <button type="button" class="btn btn-primary btn-sm" data-confirm="modal" th:text="#{delete}"></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div th:replace="fragments/card :: card(#{user.add}, ~{ :: .user-body})">
            <div class="user-body" th:remove="tag">
              <form th:action="@{/admin}" th:object="${user}" method="post" accept-charset="utf-8" class="m-form--edit-user js-needs-validation" novalidate>
                <div th:if="${formErrorMessage != null}" th:inline="text" class="alert alert-danger" role="alert">
                  [[${formErrorMessage}]]
                  <ul th:if="${!#fields.errors('*').isEmpty()}" class="mb-0">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                  </ul>
                </div>
                <div th:if="${formSuccessMessage != null}" th:text="${formSuccessMessage}" class="alert alert-success" role="alert"></div>
                <div class="row align-items-center">
                  <div class="col-md-4 form-group m-form-group">
                    <input th:field="*{username}" type="text" id="username" name="username" th:placeholder="#{username} + ' *'" class="form-control a-form-input-text" required>
                  </div>
                  <div class="col-md-4 form-group m-form-group">
                    <input th:field="*{name}" type="text" id="name" name="name" th:placeholder="#{name} + ' *'" class="form-control a-form-input-text" required>
                  </div>
                  <div class="col-md-4 form-group m-form-group">
                    <input th:field="*{lastName}" type="text" id="lastName" name="lastName" th:placeholder="#{lastname}" class="form-control a-form-input-text">
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-md-4 form-group m-form-group">
                    <input th:field="*{email}" type="text" id="email" name="email" th:placeholder="#{email}" class="form-control a-form-input-text">
                  </div>
                  <div class="col-md-4 form-group m-form-group">
                    <input type="password" id="password" name="password" th:placeholder="#{password} + ' *'" class="form-control a-form-input-password" required>
                  </div>
                  <div class="col-md-4 form-group m-form-group">
                    <input type="password" id="passwordMatch" name="passwordMatch" th:placeholder="#{passwordMatch} + ' *'" class="form-control a-form-input-password" required>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-md-4 form-group m-form-group">
                    <select th:field="*{roles}" class="js-select-basic form-control" id="roles" name="roles" th:data-placeholder="#{form.select.roles} + ' *'" multiple required>
                      <option th:each="role : ${allRoles}" th:field="*{roles}" th:value="${{role}}" th:text="${role.role}"></option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group m-form-group">
                    <div class="m-form-required" th:text="#{form.required}"></div>
                  </div>
                  <div class="col-md-12">
                    <input type="submit" name="submit" th:value="#{add}" id="submit" class="btn btn-primary d-block">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="fragments/general :: footer"></footer>
  <div th:replace="fragments/general :: foot"></div>
</body>
</html>