<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <title th:inline="text">[[#{user.edit}]]</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col">
            <h1 class="a-title--page" th:text="#{user.edit}"></h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div layout:insert="~{layout/reusables/card :: card}" th:remove="tag">
              <div layout:fragment="card-content">
                <form th:action="@{/admin/user-edit/{userId}(userId=${user.id})}" th:object="${user}" method="post" accept-charset="utf-8" class="m-form--edit-user js-needs-validation" novalidate>
                  <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
                  <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
                  <div class="row align-items-center">
                    <div class="col-md-4 form-group m-form-group">
                      <label for="username" class="a-form-label" th:text="#{username} + ' *'"></label>
                      <input th:field="*{username}" type="text" id="username" name="username" th:placeholder="#{username} + ' *'" class="form-control a-form-input-text" required>
                    </div>
                    <div class="col-md-4 form-group m-form-group">
                      <label for="name" class="a-form-label" th:text="#{name} + ' *'"></label>
                      <input th:field="*{name}" type="text" id="name" name="name" class="form-control a-form-input-text" required>
                    </div>
                    <div class="col-md-4 form-group m-form-group">
                      <label for="lastName" class="a-form-label" th:text="#{lastname}"></label>
                      <input th:field="*{lastName}" type="text" id="lastName" name="lastName" class="form-control a-form-input-text">
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-md-4 form-group m-form-group">
                      <label for="email" class="a-form-label" th:text="#{email}"></label>
                      <input th:field="*{email}" type="text" id="email" name="email" class="form-control a-form-input-text">
                    </div>
                    <div class="col-md-4 form-group m-form-group">
                      <label for="roles" class="a-form-label" th:text="#{roles} + ' *'"></label>
                      <select th:field="*{roles}" class="js-select-basic form-control" id="roles" name="roles" th:data-placeholder="#{form.select.roles} + ' *'" multiple required>
                        <option th:each="role : ${allRoles}" th:field="*{roles}" th:value="${{role}}" th:text="${role.role}"></option>
                      </select>
                    </div>
                    <div class="col-md-4 form-group m-form-group">
                      <div class="mb-2"><input type="checkbox" name="resetPassword" id="resetPassword" class="form-control a-form-checkbox"><label for="resetPassword" th:text="#{user.passwordReset}"></label></div>
                      <div><input type="checkbox" th:field="*{active}" th:checked="${active} ? 'checked'" name="active" id="active" class="form-control a-form-checkbox"><label for="active" th:text="#{active}"></label></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-form-group">
                      <div class="m-form-required" th:text="#{form.required}"></div>
                    </div>
                    <div class="col-md-12">
                      <input type="submit" name="submit" value="Wijzigen" id="submit" class="btn btn-primary d-block">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>