<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: headTag(title=#{candidate.add} + ' - Cheops Kandidatenbeheer')"></head>
<body>
<header th:replace="fragments/general :: header"></header>
<main>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col">
        <h1 class="a-title--page" th:text="#{candidate.add}"></h1>
      </div>
    </div>
    <div th:if="${errorMessage != null} OR ${successMessage != null}" class="row">
      <div class="col">
        <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
        <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div th:replace="fragments/tab :: tabs"></div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/general :: footer"></footer>
<div th:replace="fragments/general :: foot"></div>
</body>
</html>