<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <title th:inline="text">[[#{candidate.edit}]]</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md">
            <h1 class="a-title--page" th:text="#{candidate.edit}"></h1>
          </div>
          <div class="col-md d-flex align-items-center mb-sm-grid mt-sm-grid justify-content-md-end">
            <input type="submit" name="submit" th:value="#{edit}" form="form-edit-candidate" class="btn btn-primary d-block">
            <a href="javascript:history.back()" th:inline="text" class="m-icon-link--fa fa-icon ml-4"><i class="fas fa-times"></i>[[#{cancel}]]</a>
          </div>
        </div>
        <div th:if="${errorMessage != null} OR ${successMessage != null}" class="row">
          <div class="col">
            <div th:if="${errorMessage != null}" th:inline="text" class="alert alert-danger" role="alert">
              [[${errorMessage}]]
              <ul th:if="${#fields.errors('${candidate.*}')}" class="m-0">
                <li th:each="err : ${#fields.errors('${candidate.*}')}" th:text="${err}" class="mt-2"></li>
              </ul>
            </div>
            <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div layout:insert="~{layout/reusables/tabs :: tabs}" th:remove="tag">
              <div layout:fragment="tabs-panes">
                <form th:replace="fragments/form :: form-add-edit-candidate(edit, form-edit-candidate)" th:with="users=${candidate}" class="m-form--edit-candidate"></form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex align-items-center mt-grid justify-content-md-end">
            <input type="submit" name="submit" th:value="#{edit}" form="form-edit-candidate" class="btn btn-primary d-block">
            <a href="javascript:history.back()" th:inline="text" class="m-icon-link--fa fa-icon ml-4"><i class="fas fa-times"></i>[[#{cancel}]]</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>