html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

a {
  @include transition($btn-transition);

  &:not(.icon):not(.btn) {
    display: inline-block;
    border-bottom: 1px solid transparent;

    @include hover-focus-active {
      border-bottom-color: inherit;
    }
  }
}

:focus {
  outline: none;
}