html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

a {
  @include transition($btn-transition);

  &:not(.icon):not(.btn) {
    display: inline-block;
    border-bottom: 1px solid transparent;

    @include hover-focus-active {
      border-bottom-color: inherit;
    }
  }
}

ul {
  margin: $grid-gutter-width/2 0;
  padding-left: $grid-gutter-width;

  li {
    margin-bottom: $grid-gutter-width/6;

    @include last-child {
      margin-bottom: 0;
    }
  }
}

main {
  flex: 1 1 auto;
  padding-top: $grid-gutter-width;

  @include media-breakpoint-up(lg) {
    padding: $grid-gutter-width*1.5 $grid-gutter-width 0;
  }
}

.mb-grid {
  margin-bottom: $grid-gutter-width;
}

:focus {
  outline: none;
}

.flex-grow-2 {
  flex-grow: 2 !important;
}