<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:data-locale="${#locale}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Cheops Kandidatenbeheer</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{~/images/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{~/images/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{~/images/favicons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{~/images/favicons/site.webmanifest}">
    <link rel="mask-icon" th:href="@{~/images/favicons/safari-pinned-tab.svg}" color="#da291c">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="theme-color" content="#ffffff">
    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/main.css}">
  </head>
  <body>
    <header th:replace="fragments/header :: header"></header>
    <main class="not-stripped" layout:fragment="content"></main>
    <footer th:replace="fragments/footer :: footer"></footer>
    <div th:replace="fragments/general :: foot"></div>
  </body>
</html>