$icons: (
    quick-menu: "e909",
    icon-dots: "e90b",
    add-people: "e91b",
    search: "e91f",
    profile: "e90c",
    people: "e90d",
    config: "e921",
    delete: "e910",
    edit: "e915",
    add-file: "e913",
    update-file: "e912",
    download-file: "e914"
);