.card {
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 0 15px 1px rgba($gray-900, .2);
  border-radius: 4px;

  &--header {
    box-shadow: 1px 5px 14px -10px rgba($gray-900, .3);
    padding: $grid-gutter-width/1.5;
    text-align: center;
  }

  &--body {
    display: flex;

    > * {
      flex: 1 0 50%;

      @include each(2) {
        border-left: 1px solid $border-color;
      }
    }
  }
}

.o-card-hover {
  width: calc(100vw - #{$grid-gutter-width}/1.5);

  &--title {
    font-weight: 500;
    margin-bottom: $grid-gutter-width/6;
  }

  &--subtitle {
    font-weight: 300;
    font-size: 0.625rem;
  }

  .card--arrow {
    position: absolute;
    top: -4px;
    left: calc(50% - 7.5px);
    transform: translateX(-50%);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 4px 7.5px;
      border-color: transparent transparent $white transparent;
      box-shadow: -10px 0 15px 1px rgba($gray-900, .2);
    }
  }



  .o-header-block & {
    display: none;
  }

  @include media-breakpoint-up(md) {
    width: 300px;
  }
}