.o-card-hover {
  width: calc(100vw - #{$grid-gutter-width}/1.5);
  z-index: 100;

  &--title {
    margin-bottom: $grid-gutter-width/6;
  }

  &--subtitle {
    font-weight: 300;
    font-size: .625rem;
  }

  .card--body {
    display: flex;
    padding: 0;

    > * {
      flex: 1 0 50%;

      @include each(2) {
        border-left: 1px solid $border-color;
      }
    }
  }

  .o-header-block & {
    display: none;
  }

  @include media-breakpoint-up(md) {
    width: 300px;

    .card--header {
      text-align: center;
    }
  }
}