.o-card-hover {
  width: calc(100vw - #{$grid-gutter-width}/1.5);
  z-index: 100;

  &--title {
    margin-bottom: $grid-gutter-width/6;
  }

  &--subtitle {
    font-weight: 300;
    font-size: .625rem;
  }

  .card--body {
    padding: 0;
  }

  .o-header-block & {
    display: none;
  }

  @include media-breakpoint-up(md) {
    width: 300px;

    .card--header {
      text-align: center;
    }
  }
}