.o-tabs-group {

  &--item,
  &--pane {
    display: none;
  }

  &--tabs {
    display: flex;
  }

  &--item {
    font-size: .9375rem;
    padding: $grid-gutter-width/2 $grid-gutter-width/1.5;
    background: $black;
    color: $white;
    margin-right: 5px;
    position: relative;

    @include last-child {
      margin-right: 0;
    }

    &.active {
      background: $white;
      color: $gray-900;
      pointer-events: none;
      box-shadow: 0 0 15px 1px rgba($gray-900, .2);
      display: inline-block;

      &:after {
        opacity: 1;
      }

    }

    &:after {
      @include transition($transition-fade);
      content: '';
      position: absolute;
      z-index: 10;
      height: 16px;
      bottom: -16px;
      left: 0;
      width: 100%;
      background: $white;
      opacity: 0;
    }

    &:hover {
      color: $white;
      background: lighten($black, 15%);
    }
  }

  &--mobile {
    .fa-icon {
      color: $gray-400;
    }
  }

  &--pane {
    &.active {
      display: block;
    }
  }

  @include media-breakpoint-up(md) {
    &--item {
      display: inline-block;
    }

    &--mobile {
      display: none;
    }
  }
}