<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- TODO: use messages.properties -->
  <div th:fragment="card-stat(color, title, number, percentage)" class="card">
    <div class="card--body">
      <div class="m-stats">
        <div class="m-stats--top d-flex align-items-center">
          <div class="m-stats--title" th:inline="text">
            [[${title}]]
            <span>Deze week</span>
          </div>
          <div class="m-stats--number ml-auto" th:classappend="'h-color-' + ${color}" th:text="${number}"></div>
        </div>
        <div class="m-stats--bar">
          <div class="m-stats--bar-inner" th:classappend="'h-background-' + ${color}" th:style="'width:' + ${percentage} + '%;'"></div>
        </div>
        <div class="m-stats--percentage mt-1" th:text="${percentage}+'%'"></div>
      </div>
    </div>
  </div>
  <div th:fragment="card(title, body)" class="card h-100">
    <div th:if="${title != null}" class="card--header" th:text="${title}"></div>
    <div class="card--body" th:insert="${body}"></div>
  </div>
  <duv th:fragment="card-(body)"
</body>