<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="tabs-candidate(body)" class="o-tabs-group">
    <nav class="d-flex align-items-center">
      <div class="o-tabs-group--tabs" id="navTabs" role="tablist">
        <a class="o-tabs-group--item tab active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true" th:text="#{details}"></a>
        <a class="o-tabs-group--item tab" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false" th:text="#{experience}"></a>
        <a class="o-tabs-group--item tab" id="nav-meeting-tab" data-toggle="tab" href="#nav-meeting" role="tab" aria-controls="nav-meeting" aria-selected="false" th:text="#{meeting}"></a>
        <a class="o-tabs-group--item tab" id="nav-offer-tab" data-toggle="tab" href="#nav-offer" role="tab" aria-controls="nav-offer" aria-selected="false" th:text="#{offer}"></a>
        <a class="o-tabs-group--item tab" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false" th:text="#{history}"></a>
      </div>
      <div class="o-tabs-group--mobile ml-auto">
        <a href="#" class="fa-icon" data-toggle="previous"><i class="fas fa-chevron-left fa-2x"></i></a>
        <a href="#" class="fa-icon" data-toggle="next"><i class="fas fa-chevron-right fa-2x ml-3"></i></a>
      </div>
    </nav>
    <div class="o-tabs-group--content card no-border-radius" id="navTabsContent" data-content="panes" th:insert="${body}"></div>
  </div>
  <div th:fragment="tabs-candidate-pane(body, id, arialabelledby, active)" class="o-tabs-group--pane card--body fade" th:classappend="${active} ? 'show active'" th:id="${id}" role="tabpanel" th:aria-labelledby="${arialabelledby}" th:insert="${body}"></div>
</body>