<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- Todo Make dynamic with incoming object -->
  <table th:fragment="table-candidates(showEmail, showTechnologies, showLocations, showExperience, showStatus, showCreated, showDelete, showEdit)" class="m-table-candidates">
    <thead>
      <tr>
        <th style="width: 60px;"></th>
        <th>Naam</th>
        <th>Functie</th>
        <th th:if="${showEmail != false}">E-mailadres</th>
        <th th:if="${showTechnologies != false}">Technologieën</th>
        <th th:if="${showLocations != false}">Locatie</th>
        <th th:if="${showExperience != false}">Ervaring</th>
        <th th:if="${showStatus != false}">Status</th>
        <th th:if="${showCreated != false}">Aangemaakt</th>
        <th th:if="${showDelete != false}" style="width: 40px;"></th>
        <th th:if="${showEdit != false}" style="width: 40px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 60px;"><img th:src="@{~/images/avatar-empty.png}" /></td>
        <td class="m-table-candidates--name">Ingeborg De Tollenaere</td>
        <td class="m-table-candidates--function">Functie</td>
        <td th:if="${showEmail != false}">ingeborg.detollenaere@cheops.be</td>
        <td th:if="${showTechnologies != false}">Drupal, HTML, CSS</td>
        <td th:if="${showLocations != false}">Gent, Antwerpen</td>
        <td th:if="${showExperience != false}">3 jaar</td>
        <td th:if="${showStatus != false}"><div class="a-pill h-background-red">kennismakingsgesprek</div></td>
        <td th:if="${showCreated != false}">05/06/2018</td>
        <th th:if="${showDelete != false}" style="width: 40px;" class="m-table-candidates--icon"><a href="#" class="icon icon-delete" title="Verwijderen"></a></th>
        <th th:if="${showEdit != false}" style="width: 40px;" class="m-table-candidates--icon"><a href="#" class="icon icon-edit" title="Wijzigen"></a></th>
      </tr>
      <tr>
        <td style="width: 60px;"><img th:src="@{~/images/avatar-empty.png}" /></td>
        <td class="m-table-candidates--name">Ingeborg De Tollenaere</td>
        <td class="m-table-candidates--function">Functie</td>
        <td th:if="${showEmail != false}">ingeborg.detollenaere@cheops.be</td>
        <td th:if="${showTechnologies != false}">Drupal, HTML, CSS</td>
        <td th:if="${showLocations != false}">Gent, Antwerpen</td>
        <td th:if="${showExperience != false}">3 jaar</td>
        <td th:if="${showStatus != false}"><div class="a-pill h-background-red">kennismakingsgesprek</div></td>
        <td th:if="${showCreated != false}">05/06/2018</td>
        <th th:if="${showDelete != false}" style="width: 40px;" class="m-table-candidates--icon"><a href="#" class="icon icon-delete" title="Verwijderen"></a></th>
        <th th:if="${showEdit != false}" style="width: 40px;" class="m-table-candidates--icon"><a href="#" class="icon icon-edit" title="Wijzigen"></a></th>
      </tr>
    </tbody>
  </table>
</body>