<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="favicon.png" type="image/png" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Insert applicationprocess</title>
</head>
<body>


	<div class=container-fluid>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1>
					Volg hier het applictaieprocess van <span
						th:text="${session.candidate.name}"> </span> <span
						th:text="${session.candidate.sirName}"></span>
				</h1>
			</div>
			<div class="col-sm-3"></div>

		</div>
		<div class="row">
			<div class="col-sm-2"></div>

			<form th:action="@{/registerApplicationProcess}"
				th:object="${applicationprocess}" method="POST">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class=form-group>
								<label for="applicationdate">Sollicitatiedatum:</label> <input
									type="date" th:field=*{applicationDate}
									th:value="${#dates.format(applicationprocess.applicationDate,'yyyy/MM/dd')}"
									id="applicationdate" class="form-control"
									placeholder="Sollicitatiedatum">
							</div>
							<div class=form-group>
								<label for="tobeinvitedforfirstconversation">Uit te
									nodigen /uitgenodigd voor eerste gesprek?</label> <input
									type="checkbox" th:field=*{toBeInvitedForFirstConversation}
									id="tobeinvitedforfirstconversation" class="form-control"
									onclick="showMe('initialInvitationBlock', this)">
							</div>
							<div id="initialInvitationBlock" style="display: none;">
								<div class=form-group>
									<label for="invitationdate">Datum uitnodiging eerste
										gesprek:</label> <input type="date" th:field=*{invitationDate}
										th:value="${#dates.format(applicationprocess.invitationDate,'yyyy/MM/dd')}"
										id="invitationdate" class="form-control">
								</div>
								<div class=form-group>
									<label for="firstconversationdate">Datum eerste
										gesprek:</label> <input type="date" th:field=*{firstConversationDate}
										th:value="${#dates.format(applicationprocess.firstConversationDate,'yyyy/MM/dd')}"
										id="firstconversationdate" class="form-control">
								</div>
								<div class=form-group>
									<label for="staffnamefirstconversation">Naam
										gesprekspartner tweede gesprek:</label> <input type="text"
										th:field=*{staffNameFirstConversation}
										id="staffnamefirstconversation" class="form-control"
										placeholder="Alain">
								</div>
								<div class=form-group>
									<label for="feedbackfirstconversation">Feedback eerste
										gesprek:</label>
									<textarea rows=5 cols=40 th:field=*{feedbackFirstConversation}
										id="feedbackfirstconversation" class="form-control"
										placeholder="Feedback eerste gesprek"></textarea>
								</div>
								<div class=form-group>
									<label for="tobeinvitedfortechnicalconversation">Uit te
										nodigen/ uitgenodigd voor tweede gesprek?</label> <input
										type="checkbox"
										th:field=*{toBeInvitedForTechnicalConversation}
										id="tobeinvitedfortechnicalconversation" class="form-control"
										onclick="showMe('technicalBlock', this)">
								</div>
							</div>
						</div>


						<div class="col-sm-3">

							<!-- 		<div class=form-group> -->
							<!-- 			<label for="technicalconversationdate">Datum tweede gesprek</label>			 -->
							<!-- 			<input type="date" th:field=*{technicalConversationDate} th:value="${#dates.format(applicationprocess.technicalConversationDate,'yyyy/MM/dd')}" id="technicalconversationdate" class="form-control" placeholder="Geboortedatum" >			 -->
							<!-- 		</div> -->
							<div id="technicalBlock" style="display: none;">

								<div class=form-group>
									<label for="staffnametechnicalconversation">Naam
										gesprekspartner eerste gesprek:</label> <input type="text"
										th:field=*{staffNameTechnicalConversation}
										id="staffnametechnicalconversation" class="form-control"
										placeholder="Alain">
								</div>
								<div class=form-group>
									<label for="feedbacktechnicalconversation">Feedback
										technisch gesprek:</label>
									<textarea rows=5 cols=40
										th:field=*{feedbackTechnicalConversation}
										id="feedbacktechnicalconversation" class="form-control"
										placeholder="Feedback technisch gesprek"></textarea>
								</div>
								<div class=form-group>
									<label for="tobesendfinancialproposal"> Financieel
										voorstel aangeboden?</label> <input type="checkbox"
										th:field=*{toBeSendFinancialProposal}
										id="tobesendfinancialproposal" class="form-control"
										onclick="showMe('finanBlock', this)">
								</div>
							</div>

							<div id="finanBlock" style="display: none;">
								<div class=form-group>
									<label for="financialproposaldate">Datum financieel
										voorstel:</label> <input type="date" th:field=*{financialProposalDate}
										th:value="${#dates.format(applicationprocess.financialProposalDate,'yyyy/MM/dd')}"
										id="financialproposaldate" class="form-control">
								</div>
								<div class=form-group>
									<label for="feedbackfinancialproposal">Feedback
										technisch gesprek:</label>
									<textarea rows=5 cols=40 th:field=*{feedbackFinancialProposal}
										id="feedbackfinancialproposal" class="form-control"
										placeholder="Feedback financieel voorstekl"></textarea>
								</div>
								<div class=form-group>
									<label for="isrecruited">Is in dienst:</label> <input
										type="checkbox" th:field=*{isRecruited} id="isrecruited"
										class="form-control">
								</div>

							</div>

						</div>

					</div>
					<div class="row">
							<div class=form-group>
								<button class="btn-lg btn-primary btn-block" type="submit">Volgende</button>
							</div>
					</div>
				</div>

			</form>


		</div>
	</div>
</body>
<script type="text/javascript">
		function showMe (box, checkbox) {

			var vis = (checkbox.checked) ? "block" : "none";
			  document.getElementById(box).style.display = vis;


		    }
	</script>
</html>