<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="shortcut icon" href="favicon.png" type="image/png" />
<!-- favicon werkt in firefox -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Coole stuff voor Cheops</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<header th:insert="fragments/fragment.html :: header"> </header>


		<a href="/test">test dit</a> <a href="/register">Registreer
			kandidaat</a>


		<div>
			<a href="/search">Zoek in kandidaten</a>
		</div>

		<div>
			<a href="~/login.html">login</a>
		</div>

		<div>
			<a href="/user">registreer gebruiker</a>
		</div>

		<div>
			<a href="/openid">Open id test</a>
		</div>

		<div>
			<a href="/upload2">Upload een file</a>
		</div>

		<div>
			<th:block th:include="/_menu"></th:block>

			<h3>Spring Boot File Upload Example</h3>

			<ul>
				<li><a th:href="@{/uploadOneFile}">Upload One File Example</a></li>
				<li><a th:href="@{/uploadMultiFile}">Upload Multiple Files
						Example</a></li>
			</ul>
		</div>



		<!-- <div data-size="small" data-role="tile"><i class="fas fa-stroopwafel"></i> -->
		<!-- <span class="branding-bar">Branding bar</span> -->
		<!-- </div> -->
		<!-- <div data-size="medium" data-role="tile"><img src="images/github.png" class="icon"></div> -->
		<!-- <div data-size="wide" data-role="tile"><img src="images/github.png" class="icon"></div> -->
		<!-- <div data-size="large" data-role="tile"><span class="mif-github icon"></span></div> -->



		<div class="container">

			<div class="first" style="margin-right: 1%; margin-bottom: 1%;">

				<h1 style="text-align: center;">LOGIN</h1>
				<a href="/login.html" class="first test">tessst <span
					class="branding-bar">Branding bar</span> <img
					src="images\User_login_Icon_256.png" class="icon">
				</a>
			</div>

			<div class="third" style="margin-bottom: 1%;">
				<div>
					<h1 style="text-align: center;">REGISTREER</h1>

				</div>
				<div>
					<a href="/register" class="third fill-div"> <img
						src="images\Add_Male_User_Icon_256.png" class="icon">
					</a>
				</div>

			</div>
			<!-- <div class="second" style="margin-right: 10px; margin-bottom: 10px;">  -->
			<!--  		<h1 style="text-align: center;">ZOEK</h1> -->
			<!-- 		<a href="/search" class="second" class="test">Zoek in kandidaten -->
			<!-- 			<img src="images\Search_Search_Folder_Icon_256.png" class="icon" style="text-align: center;"> -->
			<!-- 		</a> -->
			<!--  	</div>  -->

			<!-- <a href="https://www.w3schools.com"> -->
			<!-- <img border="0" alt="W3Schools" src="logo_w3s.gif" width="100" height="100"> -->
			<!-- </a> -->
			<div class="second" style="margin-right: 1%;">
				<div>
					<h1 style="text-align: center;">ZOEK</h1>
				</div>
				<div>
					<a href="/search" class="fill-div"> <img
						src="images\Search_Search_Folder_Icon_256.png" class="icon"
						style="text-align: center;">
					</a>
				</div>
			</div>
			<div class="fourth">
				<h1 style="text-align: center;">INSTELLINGEN</h1>
				<a href="/instellingen">Instellingen <img
					src="images\Configuration_Settings_Icon_256.png" class="icon"
					style="text-align: center;">
				</a>
			</div>
			<div style="margin-right: 1%;" class=" test last ">
				<h1 style="text-align: center;">TEST</h1>
				<a href="/test"> <img
					src="images\Physical_sciences_Icon_256.png" class="icon"
					style="text-align: center;">
				</a>
			</div>
		</div>


		<header th:insert="fragments/fragment.html :: footer"> </header>

	</div>


</body>

<style>
html, body, .container {
	height: 80%;
	min-height: 100%;
}

.first {
	float: left;
	width: 38%;
	height: 50%;
	background-color: red;
}

.second {
	float: left;
	width: 37%;
	height: 50%;
	background-color: green;
}

.third {
	float: right;
	width: 61%;
	height: 50%;
	background-color: blue;
}

.fourth {
	float: right;
	width: 30%;
	height: 50%;
	background-color: #DDDDDD;
}

.last {
	float: right;
	width: 30%;
	height: 50%;
	background-color: yellow;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.test {
	/* margin-top: 1%; */
	margin-bottom: 1%;
	margin-right: 1%;
	margin-left: 1%;
}

a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
</style>
</html>