<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headTag(title='Login - Cheops Kandidatenbeheer')"></head>
<body>
	<div class="container-fluid p-0 h-100">
    <div class="row h-100">
      <div class="col-md-4 order-2 order-md-1">
        <div class="d-md-flex flex-column justify-content-center h-100">
          <div class="m-header--login">
            <img class="a-logo--login" th:src="@{~/images/logo.svg}" />
            <h2 class="a-title--login-form">Inloggen</h2>
          </div>
          <form th:action="@{/login}" method="post" accept-charset="utf-8" class="o-form--login">
            <div class="form-group m-form-group">
              <input type="text" id="username" name="username" value="" placeholder="Username" class="form-control a-form-input-text" maxlength="80" size="30">
            </div>
            <div class="form-group m-form-group">
              <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control a-form-input-password" size="30">
            </div>
            <input type="submit" name="submit" value="Sign In" id="submit" class="btn btn-primary d-block mx-auto mt-5">
          </form>
        </div>
      </div>
      <div class="col-md-8 order-1 order-md-2">
        <div class="o-login-banner d-flex justify-content-center align-items-center">
          <div class="a-image--c">
            <img th:src="@{~/images/c.png}" />
          </div>
          <h1 class="a-title--login">Kandidatenbeheer</h1>
        </div>
      </div>
    </div>
  </div>
</body>
</html>