<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="favicon.png" type="image/png" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Registreer hier een kandidaat</title>
</head>
<body>
	<div class=container-fluid>
		<div class="row">
			<header th:insert="fragments/fragment.html :: header"> </header>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1>Registreer een kandidaat</h1>
			</div>
			<div class="col-sm-3"></div>

		</div>
		<div class="row">
			<div class="col-sm-2"></div>


			<form th:action="@{/registerCandidate}" th:object="${candidate}"
				method="POST" enctype="multipart/form-data">

				<div class="col-sm-3">
					<div class=form-group>
						<label for="name">Naam:</label> <input type="text"
							th:field=*{name} id="name" class="form-control"
							placeholder="Voornaam" required="required">
					</div>
					<div class=form-group>
						<label for="sirName">Familienaam:</label> <input type="text"
							th:field=*{sirName} id="sirName" class="form-control"
							placeholder="Familienaam">
					</div>
					<div class=form-group>
						<label for="email">E-mail:</label> <input type="text"
							th:field=*{email} id="email" class="form-control"
							placeholder="E-mail">
					</div>
					<div class=form-group>
						<label for="birthdate">Geboortedatum:</label> <input type="date"
							th:field=*{birthdate}
							th:value="${#dates.format(candidate.birthdate,'yyyy/MM/dd')}"
							id="birthdate" class="form-control" placeholder="Geboortedatum">
					</div>
					<div class=form-group>
						<label for="phoneNumber">Telefoonnummer:</label> <input
							type="text" th:field=*{phoneNumber} id="phoneNumber"
							class="form-control" placeholder="Telefoonnummer"
							required="required">
					</div>
					<div class=form-group>
						<label for="cellPhoneNumber">Mobiel nummer:</label> <input
							type="text" th:field=*{celphoneNumber} id="cellPhoneNumber"
							class="form-control" placeholder="Mobiel nummer">
					</div>
					<div class=form-group>
						<label for="gender">Geslacht</label>
						<div>
							<input type="radio" th:field=*{gender} id="gender" value="male"
								checked="checked" /> Man
						</div>
						<div>
							<input type="radio" th:field=*{gender} id="gender" value="female" />
							Vrouw
						</div>
					</div>
					<!-- 		<div class=form-group> -->
					<!-- 			<label for="cvLink">Cv naam</label> -->
					<!-- 			<input type="text" th:field=*{cvLink} id="cvLink" class="form-control" placeholder="CV naam" > -->
					<!-- 		</div> -->
					<div class=form-group>
						<label for="cv">Voeg CV toe</label> <input type="file"
							th:field=*{file} id="cv" class="form-control"
							placeholder="CV naam" value="test">
					</div>
				</div>

				<div class="col-sm-1"></div>

				<div class="col-sm-3">
					<!-- hier komt het adres-->
					<!-- https://stackoverflow.com/questions/16122257/how-to-pass-two-objects-to-use-in-a-form-using-thymeleaf -->
					<div th:object="${address}">
						<div class=form-group>
							<label for="streetname">Straatnaam:</label> <input type="text"
								th:field=*{streetName} id="streetname" class="form-control"
								placeholder="Straatnaam" required="required">
						</div>
						<div class=form-group>
							<label for="dwellingnumber">Huisnummer:</label> <input
								type="text" th:field=*{dwellingNumber} id="dwellingnumber"
								class="form-control" placeholder="Huisnummer">
						</div>

						<div class=form-group>
							<label for="bus">Bus:</label> <input type="text" th:field=*{bus}
								id="bus" class="form-control" placeholder="Bus">
						</div>
						<div class=form-group>
							<label for="postalcode">Postcode:</label> <input type="text"
								th:field=*{postalCode} id="postalcode" class="form-control"
								placeholder="Postcode">
						</div>
						<div class=form-group>
							<label for="municipality">Gemeente:</label> <input type="text"
								th:field=*{municipality} id="municipality" class="form-control"
								placeholder="Gemeente">
						</div>
						<div class=form-group>
							<label for="land">Land:</label> <input type="text"
								th:field=*{land} id="Land" class="form-control"
								placeholder="Land">
						</div>
						<div class=form-group>

							<button class="btn-lg btn-primary btn-block" type="submit">Opslaan></button>

						</div>
					</div>
				</div>

			</form>

			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			<p th:insert="fragments/fragment.html :: footer"></p>
		</div>
	</div>
</body>
</html>