<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headTag(title='Zoeken resultaat - Cheops Kandidatenbeheer')"></head>
<body>
<header th:replace="fragments/general.html :: header"></header>
	<div class=container-fluid>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1>Zoekresultaten kandidaat</h1>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
		</div>

		<form action="#" th:action="@{/dispatcher}" th:object="${candidates}">
			<!--     <label for="candidates_input">Search:</label> <input name="candidates" -->
			<!--                                                      id="candidates"> -->
			<!--     </input> -->
			<div th:if="${not #lists.isEmpty(candidates)}">
				<h2>Search Results</h2>
				<table class="table table-striped header-fixed">
					<thead>
						<tr>
							<th scope="col">ID:</th>
							<th scope="col">Naam:</th>
							<th scope="col">Achetnaam</th>
							<th scope="col">E-mail adres:</th>
							<th scope="col">Expertise:</th>
							<th scope="col">Status:</th>
							<th scope="col">Bekijk CV:</th>
							<th scope="col">Bekijk details:</th>
							<th scope="col">Bekijk kennis:</th>
							<th scope="col">Bekijk huidig loonpakket:</th>
							<th scope="col">Bekijk voorgestelde loonpakket:</th>
							<th scope="col">Aanwervingsproces:</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="candidates : ${candidates}">
							<td th:text="${candidates.candidate.id}">Text ...</td>
							<td th:text="${candidates.candidate.name}">Text ...</td>
							<td th:text="${candidates.candidate.sirName}">Text ...</td>
							<td th:text="${candidates.candidate.email}">Text...</td>
							<td th:text="${candidates.expertise}">Text...</td>
							<td th:text="${candidates.applicationStatus}">Text...</td>

							<td><a
								th:href="@{/searchcv2/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
									CV <span class="glyphicon glyphicon-download"></span>
							</a></td>

							<td><a
								th:href="@{/searchcandidatedetails/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
									details kandidaat <span class="glyphicon glyphicon-pencil"></span>
							</a></td>

							<td><a
								th:href="@{/searchskills1/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
									kennis kandadaat <span class="glyphicon glyphicon-pencil"></span>
							</a></td>

							<td><a
								th:href="@{/searchcurrentsalarypackage2/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
									huidig loonpakket <span class="glyphicon glyphicon-pencil"></span>
							</a></td>

							<td><a
								th:href="@{/searchproposedsalarypackage2/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
									voorgesteld loonpakket <span class="glyphicon glyphicon-pencil"></span>
							</a></td>

							<td>
								<!-- optie, links niet laten zien, maar hoe doe je dan een update? -->
								<div th:if="${candidates.candidate.applicationProcessId != 0}">
									<a
										th:href="@{/searchapplicationproces2/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
										aanwervingsprocess <span class="glyphicon glyphicon-pencil"></span>
									</a>
								</div>
								<div
									th:if="${candidates.candidate.applicationProcessId = 0}? ${'color: red;'}">
									<a
										th:href="@{/searchapplicationproces2/{candidateId}(candidateId=${candidates.candidate.id})}">Zie
										aanwervingsprocess <span class="glyphicon glyphicon-pencil"></span>
									</a>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</form>

		<div>
			<form th:action="@{/search}">

				<div class=form-group>
					<button class="btn-lg btn-succes btn-block" type="submit">
						Terug naar zoekpagina ></button>
				</div>
			</form>
		</div>
	</div>
<footer th:replace="fragments/general.html :: footer"></footer>
<div th:replace="fragments/general.html :: foot"></div>
</body>
</html>