<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:data-locale="${#locale}">
<head th:replace="fragments/general :: headTag(title='Update CV - Cheops Kandidatenbeheer')"></head>
<body>
<header th:replace="fragments/general :: header"></header>
<div class=container-fluid>
	<div class="row" >
		<div class="col-sm-3"> </div>
			<div class="col-sm-6" th:object="${candidate}">
				<form th:action="@{/}" >
					<h1><span th:text="${candidate.name}"> </span> <span th:text="${candidate.sirName}"></span> heeft nog geen cv</h1>
					
					Volg de link om dit aan te passen:
					<a th:href="@{/searchcandidatedetails/{candidateId}(candidateId=${candidate.id})}">Zie details kandidaat <span class="glyphicon glyphicon-pencil"></span></a>
					
					<div class=form-group>
						<button class="btn-lg btn-succes btn-block" type="submit">Home ></button>
					</div>
				</form>
				
				<div>
	<form th:action="@{/toSearchPage}" >
		
		<div class=form-group>
			<button class="btn-lg btn-succes btn-block" type="submit"> Terug naar resultatenpagina ></button>
		</div>
	</form>
</div>
				
				
			</div>
		<div class="col-sm-3"> </div>
	</div>
	
</div>
<footer th:replace="fragments/general :: footer"></footer>
<div th:replace="fragments/general :: foot"></div>
</body>
</html>