<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="/favicon.png" type="image/png"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>To update cv</title>

</head>
<body>
<div class=container-fluid>
	<div class="row">
		<header th:insert="fragments/general.html :: header"> </header>
	</div>
	<div class="row" >
		<div class="col-sm-3"> </div>
			<div class="col-sm-6" th:object="${candidate}">
				<form th:action="@{/}" >
					<h1><span th:text="${candidate.name}"> </span> <span th:text="${candidate.sirName}"></span> heeft nog geen cv</h1>
					
					Volg de link om dit aan te passen:
					<a th:href="@{/searchcandidatedetails/{candidateId}(candidateId=${candidate.id})}">Zie details kandidaat <span class="glyphicon glyphicon-pencil"></span></a>
					
					<div class=form-group>
						<button class="btn-lg btn-succes btn-block" type="submit">Home ></button>
					</div>
				</form>
				
				<div>
	<form th:action="@{/toSearchPage}" >
		
		<div class=form-group>
			<button class="btn-lg btn-succes btn-block" type="submit"> Terug naar resultatenpagina ></button>
		</div>
	</form>
</div>
				
				
			</div>
		<div class="col-sm-3"> </div>
	</div>
	<div class="row">
		<p th:insert="fragments/general.html :: footer"> </p>
	</div>
	
</div>
</body>
</html>