<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="/favicon.png" type="image/png"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Update loonpakket</title>
</head>
<body>

<div class=container-fluid>
<div class="row">
	<div class="col-sm-3"> </div>
	<div class="col-sm-6">
		<h1>Update het loonpakket</h1>
	</div>
	<div class="col-sm-3"> </div>

</div>
<div class="row">
	<div class="col-sm-2">
	</div>

	<div class="col-sm-3">
		<form th:action="@{/updateSalaryPackage/{salaryPackageId}(salaryPackageId=${salaryPackage.id})}" th:object="${salaryPackage}" method="POST">
	
			<div class=form-group>
				<label for="grossSalary">Brutoloon</label>
				<input type="text" th:field=*{grossSalary} id="grossSalary" class="form-control" placeholder="brotoloon" required="required">
			</div>
			<div class=form-group>
				<label for="car"> Wagen</label>
				<input type="text" th:field=*{car} id="car" class="form-control" placeholder="Wagen" >
			</div>
			<div class=form-group>
				<label for="dailyallowance">Dag vergoeding</label>
				<input type="text" th:field=*{dailyAllowance} id="dailyallowance" class="form-control" placeholder="dagvergoeding" >
			</div>
			<div class=form-group>
				<label for="maaltijdchecques">maaltijdchecques</label>
				<input type="text" th:field=*{maaltijdchecques} id="maaltijdchecques" class="form-control" placeholder="maaltijdchecques" >
			</div>
			
			<div class=form-group>
				<label for="hospitalization">Hospitalisatieverzekering</label>
				<input type="checkbox"  th:field=*{hospitalization} id="hospitalization" class="form-control" >
			</div>
			<div class=form-group>
				<label for="groupinsurance"> Groepsverzekering</label>
				<input type="checkbox"  th:field=*{groupInsurance} id="groupinsurance" class="form-control"  >
			</div>
			
			<div class=form-group>
				<button class="btn-lg btn-primary btn-block" type="submit">Update ></button>
			</div>
		</form>
		
	</div>
		<a href="/registerSalaryPackageProposal">Doe financieel voorstel</a>

	<div class="col-sm-7">
	
	</div>
</div>
</div>
</body>
</html>