.a-form {
  &-label {
    font-size: .8125rem;
    color: $label-color;
  }

  &-input {
    &-text,
    &-password {
      border: 0;
      border-bottom: $input-border-width solid $border-color;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &-checkbox {
    display: none;

    &:not(:disabled) + label {
      cursor: pointer;
    }

    & + label,
    & + input + label {
      position: relative;
      padding-left: $grid-gutter-width;

      svg {
        display: none;
      }
    }

    & + label:before,
    & + input + label:before {
      content: "";
      position: absolute;
      border-radius: 2px;
      border: 1px solid $primary;
      cursor: pointer;
      left: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      background: $white;
      color: $primary;
      font-size: .625rem;
      text-align: center;
      line-height: .875rem;
    }

    &:checked + label:before,
    &:checked + input + label:before {
      content: "\f00c";
      font-family: $font-awesome-5;
      font-weight: 900;
    }

    &:disabled {
      opacity: 0;

      + label,
      + label:before,
      + input + label,
      + input + label:before {
        color: $input-disabled;
      }

      + label:before,
      + input + label:before {
        border-color: $input-disabled;
      }
    }
  }
}

.select2 {
  &-hidden-accessible {
    display: none;
  }

  &-container {
    border-bottom: $input-border-width solid $border-color;
    width: 100% !important;
    display: block;
    
    &--focus {
      border-bottom-color: $input-focus-border-color;
    }
  }

  &-search--inline {
    input {
      @extend .form-control;
      border: 0;
    }
  }

  &-selection {
    &__rendered {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      list-style: none;
    }

    &__choice {
      @include badge;
      margin-right: $grid-gutter-width/3;

      span {
        @include transition($btn-transition);
        margin-right: $grid-gutter-width/6;
        font-weight: bold;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &-dropdown {
    background: $white;
    padding: $grid-gutter-width/3 0;
    display: block;
    box-shadow: $box-shadow;
  }

  &-results {
    &__options {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__option {
      @include transition($btn-transition);
      cursor: pointer;
      text-transform: lowercase;
      padding: $grid-gutter-width/3 $grid-gutter-width/2;

      &:hover {
        color: $primary;
      }
    }
  }
}