.a-form {
  &-label {
    font-size: .8125rem;
    color: $label-color;
  }

  &-input {
    &-text,
    &-password {
      border: 0;
      border-bottom: $input-border-width solid $border-color;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &-checkbox {
    display: none;

    &:not(:disabled) + label {
      cursor: pointer;
    }

    & + label,
    & + input + label {
      position: relative;
      padding-left: $grid-gutter-width;

      svg {
        display: none;
      }
    }

    & + label:before,
    & + input + label:before {
      content: "";
      position: absolute;
      border-radius: 2px;
      border: 1px solid $primary;
      cursor: pointer;
      left: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      background: $white;
      color: $primary;
      font-size: .625rem;
      text-align: center;
      line-height: .875rem;
    }

    &:checked + label:before,
    &:checked + input + label:before {
      content: "\f00c";
      font-family: $font-awesome-5;
      font-weight: 900;
    }

    &:disabled {
      opacity: 0;

      + label,
      + label:before,
      + input + label,
      + input + label:before {
        color: $input-disabled;
      }

      + label:before,
      + input + label:before {
        border-color: $input-disabled;
      }
    }
  }
}
