.a-title {
  &--page {
    @extend h4;
  }

  &--login {
    font-size: 2rem;
    padding: 0 $grid-gutter-width / 2;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
  }

  &--login-form {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.375rem;
  }
}