<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: headTag(title=#{accessDenied} + ' - Cheops Kandidatenbeheer')"></head>
<body>
  <header th:replace="fragments/general :: header"></header>
  <main>
    <div class="row">
      <div class="col">
        <div class="m-access-denied">
          <h1 th:text="#{accessDenied}"></h1>
          <p class="mb-5" th:text="#{accessDeniedMsg}"></p>
          <i class="fas fa-ban fa-10x"></i>
          <p class="mt-5">
            <a class="btn btn-outline-primary d-inline-block" href="/" th:text="#{returnDashboard}"></a>
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="fragments/general :: footer"></footer>
<div th:replace="fragments/general :: foot"></div>
</body>
</html>